.hero-container {
  display: flex;
  flex-direction: column;
  
  background: linear-gradient(
    104.86deg,
    #9b98ef 4.32%,
    #1e6cd1 62.7%,
    #6fc4ed 101.79%
  );
}

.hero-content {
  /* Layout */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  /* Spacing */
  width: 80%;
  margin-inline: auto;
}

.hero-text h2 {
  font-weight: 700;
  font-size: 2rem;
}

.hero-text span {
  font-size: 1.125rem;
}

.hero-content img{
  max-width: max(10rem, 80vw);
  margin-block: 3vh;
}

.get-started-hero {
  /* layout */
  position: relative;
  z-index: 1;

  /* spacing */
  margin-inline: auto;
  margin-block: 3em;
  padding-block: 0.5em;
  width: min(15rem, 60vw);

  /* fonts */
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.125rem;
  color: white;

  transition: all ease-out 0.1s;

  /* background */
  background-color: transparent;

  /* border */
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100vmax;

}

.all-hero-text {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .hero-container {
    height: 100vh;
  }

  .hero-content {
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
  }

  .hero-content img {
    max-width: 100%;
    order: 2;
  }

  .all-hero-text {
    display: block;
  }

  .get-started-hero {
    transition: border ease-in 250ms;
  }

  .get-started-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.075);
    border-radius: 100vmax;

    transform: scale(0);
    transition: transform ease-in 200ms;
  }

  .get-started-hero:hover::after {
    transform: scale(1);
  }

  .get-started-hero:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.8);
  }


}