.card-container {
    /* layout */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;

    /* colour */
    background-color: #1B1B1B;
    max-width: 80%;
    color: #ffffff;
    
}