.base-button {
    padding-block: 0.4em;

    margin-block: 2vh;

    /* fonts */
    font-family: var(--ff-main-font);
    font-weight: var(--ff-font-weight);
    font-size: var(--ff-font-size);
    font-style: normal;
    letter-spacing: 1.5px;
    color: #fff;

    /* background */
    background-color: var(--main-colour);

    /* border */
    border: none;
    border-radius: 5px;
    transition: transform cubic-bezier(.53,1.75,.53,1.71) 150ms;
}

.base-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

