
/* 
    containers
*/
.medication-item {
    /* Layout */
    margin-block: 1rem;

    /* Fonts */
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    text-align: center;
}

.date-container {
    /* Layout */
    margin-inline: 1rem;
}

/* 
    children
*/

.medication-name {
    /* Layout */
    margin-block: 1rem;
}

.medication-date,
.medication-time {
    /* layout */
    margin-block: 0.625rem;

    /* Fonts */
    font-size: 1.4rem;
    font-weight: 600;
    
}

/* 
    Buttons
*/

.dose-btn {
    /* Layout */
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    padding: 0.25rem 1.25rem;

    /* colour */
    background-color: #1693a5;

    /* Border */
    border: none;
    border-radius: 5px;

    /* Fonts */
    font-family: inherit;
    font-weight: 550;
    font-size: large;
}

.dose-btn:hover {
    transform: scale(1.075);
    background-color: #d8d8c0;

    cursor: pointer;
    transition: all 0.1s ease-in;
}