:root {
    --ff-main-font: "Roboto";
    --ff-nav-font-size: 1.125rem;
    --ff-nav-font-weight: 500;
    font-family: var(--ff-main-font);
}

body {
    overflow: hidden;
}

/* Utility Classes */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Header */
.header-container {
    display: flex;
    position: relative;
}

.primary-navigation,
.primary-navigation-active {
    /* Layout */
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    /* Fonts */
    text-decoration: none;
    font-style: normal;
    font-weight: var(--ff-nav-font-weight);
    font-size: var(--ff-nav-font-size);
    letter-spacing: 1.5px;
    color: #fff;
}

.logo {
    /* Layout */
    margin: 1rem 2rem;

    /* Fonts */
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #F04444;
}

.mobile-nav-toggle,
.mobile-nav-active {
    display: none;
}

a:hover {
    cursor: pointer;
}

/* Navigation */

.navigation-container {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* spacing */
    gap: var(--gap, 3em);
    margin: 0;
    padding: 0;
    
    /* Other */
    list-style: none;
}

/* Account Navigation */

.account-container {
    /* layout */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* spacing */
    margin-inline-end: 2em;
    gap: var(--gap, 3em);
}

@media (max-width: 35em) {
    .primary-navigation-active,
    .primary-navigation {
        /* layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        inset: 0 0 0 30%;
        
        /* spacing */
        padding: min(20vh, 6rem) 4rem;
        --gap: 2em;
        
        /* background */
        background: hsl(0 0% 0% / 0.5);
        backdrop-filter: blur(0.2rem);

        /* Fonts */
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
        color: #fff;

        
        /* Other */
        z-index: 1000;
        transform: translate(0);
        transition: all 0.1s ease-out;
    }

    .primary-navigation {
        transform: translate(100%);
    }

    .primary-navigation-active > *,
    .primary-navigation > * {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-container {
        position: unset;
        top: auto;
        left: auto;
        transform: translate(0,0);
    }

    .account-container {
        margin: max(20vh, 3em) 0;
        width: max-content;
    }

    .mobile-nav-toggle,
    .mobile-nav-active {
        /* layout */
        position: absolute;
        display: block;
        top: 50%;
        right: 2rem;
        transform: translate(0,-50%);
        width: 1.5rem;
         
        /* styling */
        border: 0;

        /* background */
        background-image: url("/src/assets/icons/bars-solid.svg");
        background-repeat: no-repeat;
        background-color: transparent;

        /* Other */
        z-index: 9999;
        aspect-ratio: 1;
        transition: all 0.1s ease-in;
    }

    .mobile-nav-active {
        background-image: url("/src/assets/icons/xmark-solid.svg");
        transition: all 0.1s ease-out;
    }

    .mobile-nav-active:hover,
    .mobile-nav-toggle:hover {
        cursor: pointer;
    }
}