
/* Header */
.header-container {
    display: flex;
    align-items: center;
    position: relative;
}

.primary-navigation,
.primary-navigation-active {
    /* Layout */
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-block: 1rem;
    /* Fonts */
    text-decoration: none;
}

.logo {
    /* Layout */
    margin-inline: clamp(2rem, 10vw, 4rem);
    margin-block: 1rem;

    /* Fonts */
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #F04444;
}

.logo::after {
    content: none;
}

.mobile-nav-toggle,
.mobile-nav-active {
    display: none;
}

a,
a:visited {
    text-decoration: none;
    color:  #fff;
}

a:hover {
    cursor: pointer;
}

a::after {
    content: '';
    display: block;
    background-color: white;
    height: 3px;
    transform: scale(0, 1);
    transition: transform 100ms ease-out;
}

a:hover:after {
    transform: scale(1,1);
}

/* Navigation */

.navigation-container {
    /* Layout */
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    /* spacing */
    gap: var(--gap, min(3vw, 3em));
    margin: 0;
    padding: 0;
    
    /* Other */
    list-style: none;
}


/* Account Navigation */

.account-container {
    /* layout */
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    /* spacing */
    gap: min(3vw, 3em);
    margin-inline: 4em;
}

@media (max-width: 40em) {
    .primary-navigation-active,
    .primary-navigation {
        /* layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        inset: 0 0 0 40%;
        margin: 0;
        
        /* spacing */
        padding: min(20vh, 6rem) 4rem;
        --gap: 2em;
        
        /* background */
        background: hsl(0 0% 0% / 0.5);
        backdrop-filter: blur(0.2rem);

        /* Fonts */
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
        color: #fff;

        
        /* Other */
        z-index: 800;
        transform: translate(0);
        transition: all 0.1s ease-out;
    }

    .primary-navigation {
        transform: translate(100%);
    }

    .primary-navigation-active > *,
    .primary-navigation > * {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation-container {
        position: unset;
        top: auto;
        left: auto;
        transform: translate(0,0);
    }

    .account-container {
        margin: max(20vh, 3em) 0;
        width: max-content;
    }

    .mobile-nav-toggle,
    .mobile-nav-active {
        /* layout */
        position: fixed;
        display: block;
        right: 2rem;
        width: 1.5rem;
         
        /* styling */
        border: none;

        /* background */
        background-image: url("/src/assets/icons/bars-solid.svg");
        background-repeat: no-repeat;
        background-color: transparent;

        /* Other */
        z-index: 900;
        aspect-ratio: 1;
        transition: all 0.1s ease-out;
    }

    .mobile-nav-active {
        background-image: url("/src/assets/icons/xmark-solid-white.svg");
    }

    .mobile-nav-active:hover,
    .mobile-nav-toggle:hover {
        cursor: pointer;
    }
}