
/* 
    containers
*/
.medication-item {
    /* Layout */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;

    margin-block: 1rem;

    /* Properties*/
    max-width: 80%;
    
    /* Fonts */
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    
    /* colours */
    background-color: #1B1B1B;
    color: #ffffff;
}

.date-container {
    /* Layout */
    margin-inline: 1rem;
}

/* 
    children
 */

.medication-name {
    /* Layout */
    margin-block: 1rem;
}

.medication-date,
.medication-time {

    /* layout */
    margin-block: 0.625rem;

    /* Fonts */
    font-size: 1.4rem;
    font-weight: 600;
    
}

/* 
    Buttons
*/

.dose-btn {
    /* Layout */
    margin: 1rem 0;
    padding: 0.25rem 1.25rem;

    /* colour */
    background-color: #1693a5;

    /* Border */
    border: none;
    border-radius: 20px;

    /* Fonts */
    font-family: inherit;
    font-weight: 550;
    font-size: large;
}

.dose-btn:hover {
    cursor: pointer;
    transition: all 0.1s ease-in;
    transform: scale(1.1);
}