.log-in-content {
    display: flex;
    margin-inline: 10%;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */

}

.log-in-content h2 {
    margin-top: 0;
    margin-bottom: 0.67em;
}

.log-in-content a {
    display: block;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--link-colour);
}

.log-in-content a::after {
    background-color: var(--link-colour);
    height: 2px;
}

.social-log-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.social-log-in > * {
    display: flex;
    align-items: center;
    width: 100%;
}

.social-log-in > * img {
    margin-inline: 1rem;
}

.social-log-in > * span {
    margin-inline: auto;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 2rem;
}

.modal-footer a {
    width: fit-content;
}


@media (min-width: 40em) {
    .log-in-content h2 {
        font-size: 2em;
    }
    
    .social-log-in > * {
        width: min(100%, 20rem);
    }

    
}